@if (server != null)
{
        <div data-name="@server.Name"
             data-status="Server is @(server.IsOnline?"online":"offline")"
             style="@($"color:{(server.IsOnline?"green":"red")}")">
            @server.Name is @(server.IsOnline ? "Up" : "Down") in @server.City at @DateTime.Now
            &nbsp;
            <button type="button" @onclick="ChangeServerStatus" class="btn btn-primary">Toggle status</button>
        </div>
}


@code {
    private Server? server { get; set; } = new Server { City = "Toronto", Name = "New server" };



    private void ChangeServerStatus()
    {
        if (server != null)
        {
            server.IsOnline = !server.IsOnline;
        }
    }


}